@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #F5F0EE;  /* Light background color */
    --foreground: #454888;  /* Text color */
    --primary: #000000;     /* Primary color */
  }

  .dark {
    --background: #111111;  /* Dark background color */
    --foreground: #E0E0E0;  /* Light text color for dark theme */
  }
}




@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Dark mode styles */
  .dark body {
    background-color: var(--background);
    color: var(--foreground);
  }
}