@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #6D6E93;  
    --foreground: #3a3e91;  
   
    --sidebar-background: #4e5073;
    --sidebar-foreground: #7a5247;
    
  }

  .dark {
    --background: #5C5863;  /* Dark background color */
    --foreground: #DED5D0;  /* Light text color for dark theme */
  }
}

.text-shadow-lg {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.162); /* Add custom shadow */
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
  100% { border-color: #454888 }
}

.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2.5s steps(15, end), blink 0.85s step-end infinite;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Dark mode styles */
  .dark body {
    background-color: var(--background);
    color: var(--foreground);
  }
}